/*    Related Products    */
.related-products {
  display: flex;
  width: 312px;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.related-products-title {
  color: var(--primary);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 16px;
}

.related-products-carousel-container {

  margin-bottom: 28px;

}

.related-products-carousel-item-top {
  background-color: var(--grey);
  padding: 11px 8px 20px 8px;
  margin-bottom: 28px;
  position: relative;
  margin-left: 3px;
  margin-right: 3px;
}

.related-products-carousel-image {
  height: 118px;
  margin-top: 10px;
}

.related-products-carousel-item-add-favorite {
  position: absolute;
  right: 9px;
  top: 7px;
  border: 1px solid #D7D7D7;
  padding: 5px;
  border-radius: 50%;

}

.related-products-carousel-tag span {
  border-radius: 100px;
  background: #12A05C;
  color: var(--white);
  font-size: 6px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 2px 8px;
}

.related-products-carousel-tag .new {
  background: #12A05C;
}

.related-products-carousel-tag .hot {
  background-color: #F90;
}

.related-products-carousel-tag .sales {
  background-color: #E73C17;
}

.related-products-carousel-tag .warranty {
  background-color: #7F7CF6;
}


.related-products-carousel-add-to-cart {
  display: table;
  margin-left: auto;
  margin-right: auto;
}


.related-products-carousel-item-title {
  text-align: center;
  margin-bottom: 13px;

}

.related-products-carousel-item-title a {
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--primary);
}

.related-products-carousel-item-prices {
  display: flex;
  justify-content: center;
  gap: 6px;
  align-items: flex-end;

}

.related-products-carousel-item-price {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.related-products-carousel-item-stating-price {
  color: #D9D9D9;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: line-through;
}

.tns-nav {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 58px;
  margin-top: 28px;
}

.tns-nav button {
  border: none;
  background-color: var(--grey-light);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  font-size: 0;
}

.tns-nav button:hover,
.tns-nav button.tns-nav-active {
  background-color: var(--red);
}