@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700;800;900&family=Inter:wght@300;400;500;600&display=swap');

body,
p,
h1,
h2,
h3,
h4,
li,
a,
span {
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
}

h1 {

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 7px;
}